.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}
@font-face {
  font-family: 'Oswald';
  src: url('../../public/Fonts/Oswald-Regular.woff2') format('woff2'),
       url('../../public/Fonts/Oswald-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cinzel';
  src: url('../../public/Fonts/Cinzel-VariableFont_wght.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


/* @media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
} */

.App {
  font-family: 'Cinzel';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  color: black;
}
.Header {
  width: 100%;
  height: 5rem;
  background-color: rgb(2, 56, 147);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.Hero {
  width: 100%;
  top:5rem;
}
.HeroContainer {
  padding: 2rem;
  background-color: rgb(2, 56, 147);
  position: relative;
  text-align: center;
}
.HeroImg {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 0 4px rgb(2, 56, 147),
  0 0 10px 10px rgb(255, 0, 0);
}
.HeroTitle {
  position: absolute;
  top: 2rem;
  bottom: 2rem;
  left: 2rem;
  right: 2rem;
  background-color: rgb(2, 56, 147, .5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.Landing {
  font-family: 'Oswald';
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.LandingHeader {
  width: 100%;
  height: 5rem;
  border-bottom: 1px solid gray;
  padding-top: 1rem;
  padding-left: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.LandingTitle {
  font-size: 1.25rem;
}
.CardContainer {
  display: flex;
  gap: 1rem;
}
.LandingCard {
  background-color: #F8FAFC;
  border-radius: 15px;
  border: 3px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  gap: 1rem;
  padding: 1rem 1rem;
  margin: 1rem 0;
}
.OrderHeader {
  font-size: 3rem;
  color: #DC2626;
  font-family: 'Oswald';
}
.Checkout {
  width: 100%;
}
@media (max-width: 768px) { 
  .CardContainer {
    flex-direction: column;
    gap: .25rem;
  }
  .LandingCard {
    margin: 0;
    padding: .25rem;
  }
 }
